body{
	background: #fafafa;
	font-size: .14rem;
}

.active{
	background:blue;
	display: inline-block;;
	color:#fff;
}
.fl{
	float: left;
}
.fr {
	float: right;
}
.clb {
	clear: both;
}
.cbo {
	clear: both;
	overflow: hidden;
}
.tc {
	text-align: center;
}