.login-wrap {
  padding: 0 .175rem;
  .icon-close {
    color: #ccc;
  }
  .go-register {
    margin-top: .1rem;
    text-align: right;
    font-size: .15rem;
    clear: both;
    overflow: hidden;
    span{
      height: .15rem;
      display: inline-block;
      font-size: .14rem;
    }
  }
  .logo-box {
    margin: .2rem auto;
    text-align: center;
  }
  h1 .logo {
    width: 1.15rem;
    height: .265rem;
  }
  .input input {
    width: 2.4rem;
    height: .45rem;
    margin-left: .1rem;
    font-size: .15rem;
  }
  .icon-eye,
  .icon-eye-close {
    margin-top: .03rem;
  }
  .forget-password {
    margin: .24rem 0 .08rem;
    text-align: right;
  }
  .agreement {
    margin-top: .06rem;
    line-height: .25rem;
  }
  .agreement .iconfont {
    margin: -.02rem .02rem 0 0;
    vertical-align: middle;
    font-size: .17rem;
  }
  .agreement .agreements {
    margin-left: .17rem;
  }
}